.header__container {
  position: relative;
  height: 140px;
}

.nav__link {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
  color: #000000;
  transition: opacity 0.3s ease;
}
.nav__link:hover {
  opacity: 0.6;
}
.nav__list {
  display: flex;
  gap: 45px;
  position: absolute;
  left: 80%;
  top: 27px;
  transform: translate(-50%, 0);
}

.about__container {
  display: flex;
  justify-content: space-between;
  width: 854px;
  margin: 0 auto 0;
}
.about__title {
  width: 506px;
  height: 105px;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #21243D;
}
.about__text {
  width: 506px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243D;
}
.about__list {
  display: flex;
  gap: 50px;
  flex-direction: column;
}
.about__btn {
  padding: 9px 17px;
  border: solid;
  width: 208px;
  height: 47px;
  background: #FF6464;
  border-radius: 2px;
  font-family: "Heebo", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.about__btn:hover {
  opacity: 0.6;
}
.about__img {
  width: 243px;
  height: 243px;
  background-image: url("../images/john.png");
  background-repeat: no-repeat;
  background-color: #959595;
  background-size: cover;
  border-radius: 50%;
  margin: 0;
}

.posts {
  background: #EDF7FA;
}
.posts__container {
  width: 1152px;
  margin: 78px auto 15px;
  padding: 0 148px 38px;
  box-sizing: border-box;
}
.posts__headline {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243D;
}
.posts__link {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #00A8CC;
  margin: 0;
}
.posts__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 2px;
}
.posts__card {
  width: 418px;
  margin: 0 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
}
.posts__wrapper {
  display: flex;
  gap: 15px;
  align-items: stretch;
  justify-content: center;
  padding-bottom: 2px;
}
.posts__title {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #21243D;
  padding: 24px 25px 25px 25px;
}
.posts__subtitle {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #21243D;
  padding: 0 25px 25px 25px;
}
.posts__text {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243D;
  padding: 0 25px 25px 25px;
}

.works__container {
  width: 856px;
  margin: 0 auto;
}
.works__headline {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243D;
}
.works__wrapper {
  width: 858px;
  display: flex;
  gap: 18px;
  margin: 0 0;
}
.works__img {
  width: 246px;
  height: 180px;
  background-color: #959595;
  background-size: cover;
  border-radius: 6px;
}
.works__title {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  padding-bottom: 16px;
}
.works__subtitle {
  display: flex;
  gap: 26px;
  padding-bottom: 17px;
}
.works__year {
  height: 25px;
  width: 65px;
  text-align: center;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  background: #142850;
  border-radius: 16px;
  color: #FFFFFF;
}
.works__type {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
}
.works__text {
  width: 594px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243D;
}
.works__line {
  margin: 15px 0 21px;
  border: 1px solid #E0E0E0;
  width: 858px;
}

.footer {
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__container {
  width: 100%;
  margin: 0 auto;
}
.footer__wrapper {
  max-width: 963px;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.footer__copyright {
  max-width: 963px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #21243D;
  margin-top: 26px;
  margin-bottom: 54px;
}

* {
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
}

body {
  font-family: "Heebo", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  max-width: 1920px;
}

/*# sourceMappingURL=main.css.map */
