@use './header.scss';
@use './nav.scss';
@use "./about.scss";
@use "./posts.scss";
@use "./works.scss";
@use "./footer.scss";


* {
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
}

body {
  font-family: 'Heebo', sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li{
  margin: 0 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  max-width: 1920px;

}